.switch__button {    
    width: 80px;
    height: 30px;
    font-family: "Libre Franklin", sans-serif;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid var(--light);
    background: transparent;
    color: var(--light);
    border-radius: 0.5rem;
}

.switch__button:hover {
    cursor: pointer;
    background: var(--light-green);
}

@media screen and (max-width: 850px) {
    .switch__button {
        font-size: 16px;
    }

}