.navbar {
    width: 100%;
    max-width: 1200px;
    margin: 0;
    display: flex;
    list-style-type: none;
}

.navbar--normal {
    padding: 2rem 4rem;
    justify-content: space-between;
}

.navbar--modal {
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.5rem;
}

.navbar__highlight {
    color: var(--light-green);
}

.navbar__highlight:visited {
    color: var(--light-green);
}

