.sidebar {
    width: 100%;
    max-width: 270px;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 2rem;
}



@media screen and (max-width: 1024px) {
    .sidebar {
        max-width: 200px;
    }
}

@media screen and (max-width: 850px) {
    .sidebar {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 100%;
        margin: 0;
        margin-top: 2rem;
    }

    .sidebar__contact {
        max-width: 300px;
    }
}

@media screen and (max-width: 500px) {
    .sidebar {
        flex-direction: column;
    }
