:root {
    /* colors */
    --black: #2F2D2E;
    --blue: #39A0ED;
    --light-green: #5FDD9D;
    --light: #EDF4ED;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
}

html {
    box-sizing: border-box;

    /* base font */
    font-family: "Libre Franklin", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--black);
    line-height: 1.6rem;
}

#root {
    display: flex;
    flex-direction: column;
}